<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="iboard_root" name="Tableros"
                  web_icon="iboard,static/description/icon.png"
        />


        <menuitem id="iboard_board_action_menu"
                  name="Tableros"
                  parent="iboard_root"
                  action="iboard_board_action"
                  sequence="1"
        />

        <menuitem id="iboard_chart_action_menu"
                  name="Indicadores"
                  parent="iboard_root"
                  action="iboard_chart_action"
                  sequence="10"
        />

        <menuitem id="iboard_config"
                  name="Configuración"
                  parent="iboard_root"
                  sequence="100"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="iboard_config_palette_view_action_menu"
                  name="Paleta de colores"
                  parent="iboard_config"
                  action="iboard_config_palette_action"
                  sequence="5"
        />

        <record id="iboard_build_action" model="ir.actions.client">
            <field name="name">Constructor de tableros</field>
            <field name="tag">iboard_build</field>
            <field name="target">main</field>
        </record>

    </data>
</odoo>