.iboard-dashboard-title {
    text-align: start;
}

div.iboard-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.indicator-card {
    border-left-width: 3px !important;
}

div.iboard_kanban {
    display: inline-flex !important;
    padding: 0 !important;
}


.indicator-body {
    font-family: 'Open Sans', sans-serif;
}


.indicator-card-number {
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
}

.indicator-card-title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}


.legend {
    display: flex;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.legend-color {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border-radius: 50%;
}

.legend-category {

}

.legend-value {
    margin-left: 5px;
}

.chart-legend {
    display: flex;
}