
div.iboard-body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh; /*By Gera*/
    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll;
}

.indicator-card {
    border-left-width: 3px !important;
}

div.iboard_kanban {
    overflow: hidden !important;
}
div.iboard_base{
     background-color: white !important;
}

.o_kanban_view.o_kanban_ungrouped {
    min-height: fit-content;
}

.indicator-body {
    font-family: 'Open Sans', sans-serif;
}


.indicator-card-number {
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
}

.tick-label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: black;
}

.marker {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.connector-line {
    stroke: gray;
    stroke-width: 1px;
}

.indicator-card-title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}


.legend {
    display: flex;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.legend-item.unselected {
    text-decoration: line-through;
}

.legend-color {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border-radius: 50%;
}

.legend-category {
    font-size: 12px;
    font-family: 'Roboto Light';
}

.iboard_header {
    display: inline-grid;
}

.legend-value {
    margin-left: 5px;
}

.chart-legend {
    display: flex;
}


.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}